  .white-circle {
    cursor: pointer;
    background-color: #000;
    box-shadow: 0 0 8px #000;
    border-radius: 100px;
    height: 150%;
    margin: 0 auto;
    width: 100%;

    }
    
    .white-circle:hover {
        box-shadow: 0 0 8px #000;
    }
    
    .white-circle img {
        position: relative;
        top: 18px;
    }
    
    .audio-control {
        position: center;
        text-align: center;
        background-color: #000000;
    }
    
    body {
        font-family: "Calibri";
        line-height: 21px;
        color: #DF1176;
        font-size: 43px;
        font-weight: 400;
        background-color: #000;
    }
    
    canvas {
        height: 100px;
        width: 100vw;
        margin-top: -50px;
        display: block;
        position: fixed;
        top: 50%;
        left: 0;
        z-index: -1;
    }